body{
	text-align:center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.search-object{
	display:inline-block;
	font-size:32px;
	width:100%;
}
#search-label{
	margin-right:10px;
}
#search-query, #location{
	min-width:70%;
	height:32px;
	margin-right: 10px;
}


#lucky{
	margin-bottom:20px;
	background-color:#eee;
}
#lucky-title{
	font-size:22px;
	padding-top:10px;
}

.lucky-item{
	display:inline-block;
	width:150px;
	margin-right: 10px;
	margin-bottom:10px;
	font-size:16px;
	background-color:#fcc;
	border: 1px solid #eee;
	border-radius:10px;
	transition:0.3s linear;
}
.lucky-item:hover{
  transition:0.3s linear;
  background-color:#fff;
  border: 1px solid #fff;
}

#questions{
	text-align:center;
}
.question-header{
	margin-bottom:24px;
	text-align:center;
}
#question-title{
	vertical-align:middle;
	display:inline-block;
	font-size:28px;
	font-weight:bold;
	height:50px;
	width:40%;
	margin-right:10%;
	color:#333;
}
.question-container{
	display:inline-block;
	position:absolute;
	max-width: 2000px;
	transform:translateX(-50%);
	width:70%;
}
.question-div{
  transition:0.4s linear;
  display:inline-block;
  width:130px;
  height:60px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  background-color:#eee;
  border: 1px solid white;
}
.question-div:hover, .question-tab:hover{
  transition:0.3s linear;
  background-color:#fff;
  border: 1px solid black;
}
.question-tab{
	vertical-align:middle;
	display:inline-block;
  height:50px;
  width:40%;
  background-color:#ccf;
  border: 1px solid white;
  border-radius:25px;
  transition:0.3s linear;
}
.question-item{
	font-size: 16px;
	text-align: center;
	display:block;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding:10px;
}
.animatedQuestions.question-div.cultural.ng-hide {
	transition: 0.4s linear;
	transform: translateX(2500px);
	transform-origin:left;
	z-index:1;
}
.animatedQuestions.question-div.noncultural.ng-hide {
	transition: 0.5s linear;
	transform: translateX(-2500px);
	transform-origin:left;
	z-index:1;
}